/*
lightest: #f5f8fa
aqua: #97e3ff
lighter: #8adefd
TWITTER NORMAL BLUE: #1da1f2
Slightly darker: #1a94ef
darker: #0095fe
TWITTER BLACK: #14171a
 */

body {
    color: #14171a;
}

#trends {
  white-space: nowrap;
}

#chartdiv {
  width: 100%;
  height: 300px;
}

.trends-row {
    margin-bottom: 0;
}

.trends-icon {
    background-color: #fdd835;
    display: flex;
    align-items: center;
    margin: 0;
    height: 54.5px;
    justify-content: space-evenly;
}

.trends-icon > p {
    width: auto;
}

.trends-wrapper p {
    padding: 0 1rem;
}

nav .nav-wrapper {
    background-color: #1da1f2 !important;
}

/*Change color of form placeholder*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1565c0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #1565c0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #1565c0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #1565c0;
}

.tweet-btn {
    color: white;
    background-color: #1da1f2 !important;
    border-radius: 4rem;
}

.tweet-btn:hover {
    background-color: #005fd1 !important;
}

marquee a:hover {
    color: #005fd1 !important;
}

.footer-copyright {
    background-color:
}

.col .search-box {
    background-color: #f5f8fa;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: .25rem;
}

.main-col {
    padding: 1rem 2rem !important;
}

.rt-chip {

}

.search-box > p {
    padding: 0 1rem 1rem 1rem;
}

.loading-us, .loading-state {
  text-align: center;
  visibility: hidden;
}

.loading-us.visible,.loading-state.visible {
  visibility: visible;
}

.output-info, .output-error-us, .output-error-state, .searchResults {
  display: none;
}

.output-info.visible, .output-error-us.visible, .output-error-state.visible, .searchResults.visible {
  display: block;
}

#map {
    margin: 0 auto;
}

/*OVERRIDES FOR MATERIALIZE CSS*/
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0 1.5rem;
}

label {
    font-weight: bold !important;
}

.input-field .prefix.active {
    color: #005fd1;
}

.card .card-action {
    padding: .75rem 1rem;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    margin-right: 6px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #1565c0;
}

input.select-dropdown {
    color: #1565c0;
}

.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
